/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gender {
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.app-main{
  height: 100vh;
  width: 100%;
  padding: 10px;
}
h1 {
  font-size: 3.5rem;
}

button {
  padding: 10px 30px;
  background: cyan;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:active {
  scale: 0.95;
}

.input{
  margin-top: 30px;
  padding: 20px 40px;
}

.input input{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
}

.input h3{
  font-size: 25px;
  font-weight: 600;
}

.likes{
  height: 200px;
  width: 400px;
  background-color: aquamarine;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.likes h2{
  color: #333;
  font-size: 35px;
}