/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}
.form-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
  gap: 20px;
}

.form-wrapper{
  /* height: 400px; */
  width: 35%;
  background-color: #333;
  border-radius: 10px;
  padding: 30px 30px;
}
.form-wrapper h2{
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  /* margin-top: 10px; */
}
.form-wrapper form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.form-wrapper form input{
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 20px;
}
.form-wrapper form button{
  padding: 12px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  /* color: green; */
  background-color: cadetblue;
  font-weight: 700;
  cursor: pointer;
}
form button:active{
  scale: 0.98;
}

.contacts-wrapper{
  background-color: #333;
  width: 65%;
  height: 100%;
  border-radius: 10px;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  gap: 10px;
  overflow-y: auto;
}

.contacts-wrapper .contacts-card{
  height: fit-content;
  width: fit-content;
  background-color: #898989;
  padding: 10px 10px;
  border-radius: 5px;
  color: #0e0e0e;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.contacts-card h3, p{
  font-size: 20px;
}